
*.cache
.vs/Ladeskab/v16/TestStore/0/038.testlog
LadeSkab/obj/Debug/LadeSkab.pdb
LadeSkab/obj/Debug/LadeSkab.dll
LadeSkab/obj/Debug/LadeSkab.csprojAssemblyReference.cache
LadeSkab/bin/Debug/LadeSkab.pdb
LadeSkab/bin/Debug/LadeSkab.dll
App/obj/Debug/LadeSkab_App.pdb
App/obj/Debug/LadeSkab_App.exe
App/obj/Debug/App.csprojAssemblyReference.cache
App/bin/Debug/logfile.txt
App/bin/Debug/LadeSkab_App.pdb
App/bin/Debug/LadeSkab_App.exe
App/bin/Debug/LadeSkab.pdb
App/bin/Debug/LadeSkab.dll
Ladeskab.Test.Unit/obj/Debug/netcoreapp3.1/Ladeskab.Test.Unit.csprojAssemblyReference.cache
Ladeskab.Test.Unit/obj/Debug/netcoreapp3.1/Ladeskab.Test.Unit.assets.cache
App/bin/Debug/logfile.txt
LadeSkab/obj/Debug/LadeSkab.csprojAssemblyReference.cache
Ladeskab.Test.Unit/obj/Debug/netcoreapp3.1/Ladeskab.Test.Unit.csprojAssemblyReference.cache
Ladeskab.Test.Unit/obj/Debug/netcoreapp3.1/Ladeskab.Test.Unit.assets.cache
App/obj/Debug/App.csprojAssemblyReference.cache
App/bin/Debug/logfile.txt
.vs/Ladeskab/v16/.suo
